<table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Move Name Column -->
  <ng-container matColumnDef="move">
    <th mat-header-cell *matHeaderCellDef> Move </th>
    <td mat-cell *matCellDef="let element"> {{element.move}} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <!-- Damage Column -->
  <ng-container matColumnDef="damage">
    <th mat-header-cell *matHeaderCellDef> Damage </th>
    <td mat-cell *matCellDef="let element"> {{element.damage}} </td>
  </ng-container>

  <!-- Accuracy Column -->
  <ng-container matColumnDef="accuracy">
    <th mat-header-cell *matHeaderCellDef> Accuracy </th>
    <td mat-cell *matCellDef="let element"> {{element.accuracy}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Move Effect </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- TM Number Column -->
  <ng-container matColumnDef="tm">
    <th mat-header-cell *matHeaderCellDef> TM # </th>
    <td mat-cell *matCellDef="let element"> {{element.tm}} </td>
  </ng-container>

  <!-- TR Number Column -->
  <ng-container matColumnDef="tr">
    <th mat-header-cell *matHeaderCellDef> TR # </th>
    <td mat-cell *matCellDef="let element"> {{element.tr}} </td>
  </ng-container>

  <!-- Tutor Column -->
  <ng-container matColumnDef="tutor">
    <th mat-header-cell *matHeaderCellDef> Move Tutor </th>
    <td mat-cell *matCellDef="let element"> {{element.tutor}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>