<mat-card class="wrapper mat-elevation-z4">
    <mat-tab-group>
        <mat-tab label="Info">
            <ng-template matTabContent>
                    
                <mat-card class="info-card mat-elevation-z0">
                    <mat-card-title-group>
                        <mat-card-title>Dex Entries</mat-card-title>
                    </mat-card-title-group>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                    <!-- {{longText}} -->
                    </mat-card-content>
                </mat-card>

                <mat-card class="info-card mat-elevation-z0">
                    <mat-card-title-group>
                        <mat-card-title>Evolutions</mat-card-title>
                    </mat-card-title-group>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                    <!-- {{longText}} -->
                    </mat-card-content>
                </mat-card>

                <mat-card class="info-card mat-elevation-z0">
                    <mat-card-title-group>
                        <mat-card-title>Bio</mat-card-title>
                    </mat-card-title-group>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                    <!-- {{longText}} -->
                    </mat-card-content>
                </mat-card>
                   
                  
            </ng-template>
        </mat-tab>
        <mat-tab label="Stats/Abilities">
            <ng-template matTabContent>
                <poke-stats></poke-stats>
            </ng-template>
        </mat-tab>
        <mat-tab label="Level Moves">
            <ng-template matTabContent>
                Content 3 
            </ng-template>
        </mat-tab>
        <mat-tab label="TMs/Tutors">
            <ng-template matTabContent>
                Content 3 
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-card>
